// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=546E7A&secondary.color=dd2c00

$color-white: white;

$primary: #546e7a;
$primary-text: white;

$primary-light: #819ca9;
$primary-light-text: black;

$primary-dark: #29434e;
$primary-dark-text: white;


$seconary: #dd2c00;
$secondary-text: white;

$secondary-light: #ff6434;
$secondary-light-text: black;

$secondary-dark: #a30000;
$secondary-dark-text: white;