.journeycard {
  @extend %card-shadow;
  background-color: white;
  margin-bottom: $medium;
  display: inline-block;
  padding: $tiny;
}

.journeycard-departure {
  
}

.journeycard-departure-station {
}

.journeycard-departure-place {
  
}

.journeycard-departure-train {
  margin-bottom: $large;
}

.journeycard-transfer-station {

}

.primary-list {
  
  .list-item {
    border-bottom: 1px solid black;
  }
  
  .list-item:last-child {
    border-bottom: none;
  }
  
}