<template name="journey">
  <div class="journeycard">
    <div class="journeycard-departure">
    {{#with departure}}
      <div class="journeycard-departure-station">{{departureStation}}</div>
      <div class="journeycard-departure-place">{{track}}</div>
      <div class="journeycard-departure-train">{{trainType}} {{trainDestination}} {{formatTime time}}</div>
    {{/with}}
    </div>
    
    {{#each transfers}}
      <div class="journeycard-transfer">
        <div class="journeycard-transfer-station">{{station}}</div>
        <div>{{arrivalTrack}} -> {{transferTime}} min -> {{departureTrack}}</div>        
        <div class="journeycard-departure-train">{{trainType}} {{trainDirection}} {{formatTime departureTime}}</div>
      </div>
    {{/each}}
    
    <div class="journeycard-arrival">
    {{#with arrival}}
      {{trainDestination}}
      {{formatTime arrivalTime}}
    {{/with}}
    </div>
  </div>
</template>