<template name="formAdvice">
  {{>stationDataList id="frontPage_advice_autocomplete"}}
  <form class="color-primary">
    <div class="inset-tiny">
      <label class="stack-tiny"><span class="material_input_label">From</span>
        <div><input class="form_field_primary material_text_field stack-small" type="text" data-field="fromStation" list="frontPage_advice_autocomplete"></div>
      </label>
      
      <label class="stack-tiny"><span class="material_input_label">To</span>
        <div><input class="form_field_primary material_text_field stack-small" type="text" data-field="toStation" list="frontPage_advice_autocomplete"></div>
      </label>
    </div>
    <input type="submit" value='Plan' class="material_button color-primary-light" style="margin-left:4px">
  </form>

  <div class="navcolumn_container {{navcolumn_active_class}}">
    <div class="navcolumn_content">
      <div class="navcolumn">
        {{>adviceListMain advices=advices selectedAdvice=selectedAdvice}}
      </div>
      
      <div class="navcolumn">
        {{#let selectedJourney=selectedAdvice.get}}
          {{#if selectedJourney}}
            {{>journey selectedJourney}}
          {{/if}}
        {{/let}}
      </div>
    </div>
  </div>
</template>